:root {
    --bg-color: #040720;
    --primary-color: #FFFF66;
}

body {
    min-height: 100vh;
    background-color: var(--bg-color);
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    color: #FFFFFF;
}

header {
    display: flex;
    height: 80px;
    padding: 0px 64px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

nav ol {
    display: flex;
    margin: 0;
    list-style: none;
}

nav li {
    margin-left: 24px;
}

nav li a {
    color: inherit;
    text-decoration: underline rgba(255, 255, 102, 0);
    text-underline-offset: 0.2em;
    transition: text-decoration 300ms, text-underline-offset 300ms;
}

nav li a:hover {
    color: var(--primary-color);
    text-decoration: underline rgba(255, 255, 102, 1);
    text-underline-offset: 0.4em;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px);
}

h3 {
    margin: 0px 0px 8px 0px;
    font-weight: 300;
}

h1 {
    margin: 0px 0px 32px 0px;
    font-size: 48px;
    color: var(--primary-color);
}

.btn-main {
    padding: 12px 24px;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    color: var(--primary-color);
    transition: background-color 300ms, color 300ms;
}

.btn-main:hover {
    background-color: var(--primary-color);
    color: var(--bg-color);
    cursor: pointer;
}